/*
  工具栏区域色值
  按钮hover背景色 --tv-color-toolbar-button-background-hover
  按钮文字颜色 --tv-color-toolbar-button-text
  按钮文字hover色 --tv-color-toolbar-button-text
*/

.theme-dark:root {
    --tv-color-platform-background: #101014;
    --tv-color-pane-background: #101014;
    --tv-color-toolbar-button-text: #adb1b8;
    --tv-color-toolbar-button-background-hover: transparent;
    --tv-color-toolbar-button-text-hover: #fff;
    --tv-color-toolbar-button-text-active: #ff9c2e;
    --tv-color-toolbar-button-text-active-hover: #ffc35c;
    --tv-color-toolbar-toggle-button-background-active: #fff;
    --tv-color-toolbar-toggle-button-background-active-hover: #fff;
  }
  
  .theme-light:root {
    --tv-color-platform-background: #fff;
    --tv-color-pane-background: #fff;
    --tv-color-toolbar-button-background-hover: transparent;
    --tv-color-toolbar-button-text: #81858c;
    --tv-color-toolbar-button-text-hover: #121214;
    --tv-color-toolbar-button-text-active: #ff9c2e;
    --tv-color-toolbar-button-text-active-hover: #ffc35c;
    --tv-color-toolbar-toggle-button-background-active: #81858c;
    --tv-color-toolbar-toggle-button-background-active-hover: #81858c;
  }
  
  /* .dateRangeWrapper-BXXUwft2 {
    display: none;
  } */
  
  /* 以下是tooltip */
  .html .common-tooltip__body-EJBD96zX {
    white-space: pre-line;
  }
  
  .html.theme-dark .common-tooltip__body-EJBD96zX {
    color: #fff;
    background-color: #404347;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.24);
  }
  
  .html.theme-light .common-tooltip__body-EJBD96zX {
    color: #121214;
    background-color: #e9edf2;
    box-shadow: 4px 4px 20px rgba(18, 18, 20, 0.1);
  }
  
  /* .paneSeparator-uqBaC1Ki {
    background-color: #71757a !important;
  }
  .theme-ligh .paneSeparator-uqBaC1Ki {
    background-color: #adb1b8 !important;
  } */
  
  /* 以上是tooltip */
  
  /* demoAccount mask */
  .theme-dark.k-line-demo-account:root table.chart-markup-table tr:first-of-type td.pane canvas:nth-child(2)  {
    background-image: url(/bycsi-root/bybit/deadpool/01b70553f30311edbc4bc60635b792dd.svg)
  }
  .theme-light.k-line-demo-account:root table.chart-markup-table tr:first-of-type td.pane canvas:nth-child(2)  {
    background-image: url(/bycsi-root/bybit/deadpool/f27ce9f10b6f11eebdc72a133fcf998d.svg);
  }
  .k-line-demo-account:root table.chart-markup-table tr:first-of-type td.pane canvas:nth-child(2) {
    background-repeat: no-repeat;
    background-position: left 30px bottom 50px;
  }
  
  /* dialog样式 */
  .bb-tv-wd .main-MQCwyEL_ {
    margin: 0 0 0 32px;
  }
  html.theme-dark .bb-tv-wd.dialog-nnDbXk_L {
    background-color: #16171a;
  }
  html.theme-dark .bb-tv-wd .main-MQCwyEL_ {
    color: #fff;
  }
  html.theme-dark .bb-tv-wd .bb-tv-wd__title {
    background: #202124;
    color: #71757a;
  }
  html.theme-light .bb-tv-wd.dialog-nnDbXk_L {
    background-color: #fff;
  }
  html.theme-light .bb-tv-wd .main-MQCwyEL_ {
    color: #121214;
  }
  html.theme-light .bb-tv-wd .bb-tv-wd__title {
    background: #f3f5f7;
    color: #adb1b8;
  }
  .bb-tv-wd .content-MQCwyEL_ {
    height: 270px;
    overflow: auto;
    padding-top: 0;
  }
  .bb-tv-wd .title-MQCwyEL_ {
    margin-top: 12px;
  }
  .bb-tv-wd .footer-MQCwyEL_ {
    display: none;
  }
  .bb-tv-wd .bb-tv-wd__table {
    font-weight: 400;
    font-size: 12px;
  }
  .bb-tv-wd .bb-tv-wd__title {
    position: sticky;
    top: 0;
    left: 0;
  }
  .bb-tv-wd__table td {
    padding: 8px 12px;
    line-height: 18px;
  }
  /* draw toolside */
  html.theme-dark {
    .toggleButton-OhcB9eH7 {
      .container-Wp9adlfh {
        .background-Wp9adlfh {
          stroke: #ADB1B8 !important;
          fill: #ADB1B8 !important;
        }
        .arrow-Wp9adlfh {
          stroke: #101014 !important;
        }
      }
      &:hover{
        .container-Wp9adlfh {
          .background-Wp9adlfh {
            stroke: #fff !important;
            fill: #fff !important;
          }
          .arrow-Wp9adlfh {
            stroke: #101014 !important;
          }
        }
      }
    }
    
    .button-KTgbfaP5.accessible-KTgbfaP5.isActive-KTgbfaP5:not(.isTransparent-KTgbfaP5) {
      .bg-KTgbfaP5 {
        color: #fff;
      }
      .icon-KTgbfaP5 {
        color: #101014;
      }
    }
  }
  
  html.theme-light {
    .toggleButton-OhcB9eH7 {
      .container-Wp9adlfh {
        .background-Wp9adlfh {
          stroke: #ADB1B8 !important;
          fill: #ADB1B8 !important;
        }
        .arrow-Wp9adlfh {
          stroke: #fff !important;
        }
      }
      &:hover{
        .container-Wp9adlfh {
          .background-Wp9adlfh {
            stroke: #121214 !important;
            fill: #121214 !important;
          }
          .arrow-Wp9adlfh {
            stroke: #fff !important;
          }
        }
      }
    }
  
    .button-KTgbfaP5.accessible-KTgbfaP5.isActive-KTgbfaP5:not(.isTransparent-KTgbfaP5) {
      .bg-KTgbfaP5 {
        color: #595D59;
      }
      .icon-KTgbfaP5 {
        color: #fff;
      }
    }
  }
  
  .drawingToolbar-BfVZxb4b {
    overflow: visible;
  }
  .container-Wp9adlfh.mirror-Wp9adlfh {
    cursor: pointer;
  }
  
  /* data-range */
  /* .toolbar-uWw2aReP .dateRangeWrapper-uWw2aReP {
    display: none;
  } */
  
  .series-l31H9iuA .titleWrapper-l31H9iuA .title-l31H9iuA{
    font-size: 13px;
  }
  
  .bb-tv-wd__title,
  .bb-tv-wd__row {
    font-size: 12px;
  }