.indent-border {
    border: 1px dashed var(--bds-gray-ele-border)
}

.by-treetable-cell {
    display: flex;
    position: relative;
    align-items: center;
    line-height: var(--size-16)
}

[dir=ltr] .by-treetable-cell {
    justify-content: right
}

[dir=rtl] .by-treetable-cell {
    justify-content: left
}

.usdc-theme-dark .treetable-body-cell.__cell-hover {
    background-color: var(--primary-color-03)
}

.usdc-theme-light .treetable-body-cell.__cell-hover {
    background-color: var(--gray-003)
}

.by-treetable-cell.treetable-header-cell {
    padding: var(--size-10) var(--size-6)
}

.by-treetable-cell.treetable-body-cell {
    padding: var(--size-6);
    font-size: 12px
}

.treetable-body-cell .by-treetable-mark-line {
    height: var(--size-20)
}

[dir=ltr] .treetable-body-cell .by-treetable-mark-line {
    margin-right: var(--size-8)
}

[dir=rtl] .treetable-body-cell .by-treetable-mark-line {
    margin-left: var(--size-8)
}

[dir=ltr] .by-treetable-cell.treetable-header-cell.left-cell,[dir=ltr] .by-treetable-cell.treetable-body-cell.left-cell {
    padding-right: 12px;
    padding-left: 16px;
    justify-content: left
}

[dir=rtl] .by-treetable-cell.treetable-header-cell.left-cell,[dir=rtl] .by-treetable-cell.treetable-body-cell.left-cell {
    padding-left: 12px;
    padding-right: 16px;
    justify-content: right
}

[dir=ltr] .by-treetable-cell.left-cell {
    justify-content: left
}

[dir=rtl] .by-treetable-cell.left-cell {
    justify-content: right
}

[dir=rtl] .by-treetable-cell .by-treetable-rtl {
    unicode-bidi: plaintext
}

.by-treetable-cell.center-cell {
    justify-content: center
}

.by-treetable-cell .place-icon {
    width: var(--size-12)
}

.by-treetable-cell .place-icon:hover {
    color: var(--brand)
}

.by-treetable-indent {
    position: relative;
    cursor: pointer;
    font-size: var(--size-12)
}

[dir=ltr] .by-treetable-indent {
    margin-right: var(--size-4)
}

[dir=rtl] .by-treetable-indent {
    margin-left: var(--size-4)
}

.by-treetable-indent-line {
    position: absolute;
    top: 0;
    bottom: var(--size-2);
    border: 1px dashed var(--bds-gray-ele-border)
}

.by-treetable-indent-mid {
    position: absolute;
    border: 1px dashed var(--bds-gray-ele-border);
    top: 7px;
    width: var(--size-8)
}

[dir=ltr] .by-treetable-indent-mid {
    left: -7px
}

[dir=rtl] .by-treetable-indent-mid {
    right: -7px
}

.by-treetable-indent-down {
    position: absolute;
    top: var(--size-20);
    bottom: 0;
    border: 1px dashed var(--bds-gray-ele-border)
}
