/**
   * @name: @fe/meta
   * @version: 0.0.3-dev.1
   * @datetime: 2026-01-21T10:42:25.803Z
   */
   *,:before,:after {
    border-width: 0
}

:before,:after {
    --tw-content: ""
}

* {
    box-sizing: border-box
}

html {
    text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

b,strong {
    font-weight: bolder
}

code,kbd,samp,pre {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

.moly-table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

input,.moly-button,.moly-textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,ul,menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

[hidden] {
    display: none
}

:root {
    color-scheme: light dark;
    --bds-static-black: #121214;
    --bds-static-white: #fff;
    --bds-brand-black: #121214;
    --bds-brand-white: #fff;
    --bds-static-gray-popup: #595d61;
    --bds-static-border-color: #d9d9d9;
    --bds-static-active-color: #d18400;
    --bds-green-600-hover: #41bf7e;
    --bds-green-700-normal: #20b26c;
    --bds-green-800-pressed: #00944f;
    --bds-green-900-focus: #00944f;
    --bds-red-600-hover: #fc7272;
    --bds-red-700-normal: #ef454a;
    --bds-red-800-pressed: #cc3939;
    --bds-red-900-focus: #cc3939;
    --bds-font-family: "Inter", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, ubuntu;
    --bds-font-size-h0: 96px;
    --bds-font-size-h1: 64px;
    --bds-font-size-h2: 48px;
    --bds-font-size-h3: 40px;
    --bds-font-size-h4: 32px;
    --bds-font-size-24: 24px;
    --bds-font-size-20: 20px;
    --bds-font-size-18: 18px;
    --bds-font-size-16: 16px;
    --bds-font-size-14: 14px;
    --bds-font-size-12: 12px;
    --bds-font-size-10: 10px;
    --bds-scale-80-pct: .8;
    --bds-line-height-h0: 104px;
    --bds-line-height-h1: 74px;
    --bds-line-height-h2: 56px;
    --bds-line-height-h3: 48px;
    --bds-line-height-h4: 40px;
    --bds-line-height-24: 32px;
    --bds-line-height-20: 28px;
    --bds-line-height-18: 26px;
    --bds-line-height-16: 24px;
    --bds-line-height-14: 22px;
    --bds-line-height-12: 18px;
    --bds-line-height-10: 14px;
    --bds-line-height-8: 10px;
    --bds-font-weight-regular: 400;
    --bds-font-weight-medium: 500;
    --bds-font-weight-semibold: 600;
    --bds-border-radius-4: 4px;
    --bds-border-radius-8: 8px;
    --bds-border-radius-round: 50%;
    --bds-border-radius-button: 100px !important;
    --bds-border-radius-button-sm: 100px !important;
    --bds-input-border-width: 1px;
    --bds-transition-fast: .15s;
    --bds-badge-height: 24px;
    --bds-badge-height-small: 20px;
    --bds-badge-dot-size: 8px;
    --bds-badge-dot-size-small: 6px;
    --bds-badge-padding-horizontal: 8px;
    --bds-badge-padding-horizontal-small: 6px;
    --bds-badge-font-size: var(--bds-font-size-14);
    --bds-badge-font-size-small: var(--bds-font-size-12);
    --bds-badge-sup-text-color: var(--bds-brand-900-text);
    --bds-badge-bg-color: var(--bds-red-700-normal);
    --bds-badge-type-secondary-text-color: var(--bds-static-black);
    --bds-badge-type-secondary-bg-color: rgba(56, 68, 82, 6%);
    --bds-badge-sup-type-secondary-text-color: #adb1b8;
    --bds-trans-hover: rgb(56 68 82 / 6%);
    --bds-vip-default-gold: linear-gradient( 90deg, #fed1ac 2.06%, #ff9c2e 16.67%, #c9690a 58.66%, #fed1ac 79.13% );
    --bds-vip-default-gold-tag: linear-gradient( 90deg, #ffb05b 0%, #ee8f32 43.92%, #ffa644 79.13% );
    --bds-vip-default-silver: linear-gradient(90deg, #fff 0%, #939597 106.73%);
    --bds-non-vip: #adb1b8;
    --bds-vip1: linear-gradient( 90deg, #fca5ac .11%, #ffdcdf 33.34%, #944547 66.57%, #fca5ac 99.79% );
    --bds-vip1-text: linear-gradient( 90deg, #fca5ac .11%, #b16062 51.7%, #fca5ac 99.79% );
    --bds-vip2: linear-gradient( 90deg, #bccfe2 .11%, #fff 33.34%, #6e98c1 66.57%, #bccfe2 99.79% );
    --bds-vip2-text: linear-gradient( 90deg, #bccfe2 .11%, #7eadda 51.95%, #bccfe2 99.79% );
    --bds-vip3: linear-gradient( 90deg, #00c86d .11%, #ddfff0 33.34%, #0e8d81 66.57%, #00c86d 99.79% );
    --bds-vip3-text: linear-gradient( 90deg, #48ffac .11%, #1ebb74 50.95%, #48ffac 99.79% );
    --bds-vip4: linear-gradient( 90deg, #ebb38b .11%, #ffecde 33.34%, #864218 66.57%, #ebb38b 99.79% );
    --bds-vip4-text: linear-gradient( 90deg, #ebb38b .11%, #ce7842 53.44%, #ebb38b 99.79% );
    --bds-vip5: linear-gradient( 90deg, #c69f58 .11%, #ffeecf 33.34%, #a56f2a 66.57%, #c69f58 99.79% );
    --bds-vip5-text: linear-gradient( 90deg, #fbcd79 .11%, #cf9851 54.94%, #fbcd79 99.79% );
    --bds-vip-supreme: linear-gradient( 90deg, #bcbcbc .11%, #f4f4f4 33.34%, #6b6b6b 66.57%, #bcbcbc 99.79% );
    --bds-vip-supreme-text: linear-gradient( 90deg, #ddd .11%, #868686 52.94%, #ddd 99.79% )
}

:root,:root[data-theme=dark] .moly-theme-component-light {
    color-scheme: light;
    --bds-gray-t1-title: #121214;
    --bds-gray-t2: #81858c;
    --bds-gray-t3: #adb1b8;
    --bds-gray-t4-dis: #d5dae0;
    --bds-gray-t1-title-revert: #fff;
    --bds-brand-t1-title: #121214;
    --bds-gray-ele-border: #e9edf2;
    --bds-gray-ele-line: #f3f5f7;
    --bds-gray-ele-edge: #f9fafb;
    --bds-gray-bg-page: #f5f7fa;
    --bds-gray-bg-area: #fff;
    --bds-gray-bg-card: #fff;
    --bds-gray-bg-float: #fff;
    --bds-trans-mask: rgb(56 58 61 / 60%);
    --bds-trans-hover: rgb(56 68 82 / 6%);
    --bds-brand-600-hover: #ffc35c;
    --bds-brand-700-normal: #ff9c2e !important;
    --bds-brand-800-pressed: #f0960e;
    --bds-brand-900-focus: #eb8d13;
    --bds-brand-900-text: #ff9c2e !important;
    --bds-brand-100-bg: rgb(247 166 0 / 12%);
    --bds-red-100-bg: rgb(239 69 74 / 12%);
    --bds-green-100-bg: rgb(32 178 108 / 12%);
    --bds-gradient-reddish: linear-gradient(90deg, #f90 0%, #ff6a59 100%);
    --bds-gradient-brand: linear-gradient(90deg, #ffd748 0%, #f7a600 100%);
    --bds-gradient-ruby: linear-gradient(90deg, #fc7272 0%, #f03339 100%);
    --bds-gradient-tab-scroll-left: linear-gradient( 270deg, rgba(255, 255, 255, 0%) 0%, #fff 100% );
    --bds-gradient-tab-scroll-right: linear-gradient( 270deg, #fff 0%, rgba(255, 255, 255, 0%) 100% );
    --bds-shadow-l1: 0 0 4px 0 rgba(18, 18, 20, 10%);
    --bds-shadow-l2: 0 0 24px 0 rgba(18, 18, 20, 10%);
    --bds-focused-halo-brand: 0 0 0 5px var(--bds-brand-100-bg);
    --bds-focused-halo-green: 0 0 0 5px var(--bds-green-100-bg);
    --bds-focused-halo-red: 0 0 0 5px var(--bds-red-100-bg);
    --bds-underline-dashed: 1px dashed #d5dae0;
    --bds-tag-text-primary: #e18e12;
    --bds-tag-text-neutral: var(--bds-static-black);
    --bds-empty-svg-border: #595d61;
    --bds-empty-svg-line: #595d61;
    --bds-empty-svg-opacity: 1;
    --bds-checkbox-type-checked: var(--bds-static-white);
    --bds-gray-ele-line-rgb: 243, 245, 247;
    --bds-black-white: #fff;
    --bds-badge-type-secondary-text-color: var(--bds-static-black);
    --bds-badge-type-secondary-bg-color: rgba(56, 68, 82, 6%);
    --bds-badge-sup-type-secondary-text-color: #adb1b8;
    --bds-badge-sup-text-color: var(--bds-brand-900-text)
}

:root[data-theme=dark],:root[data-theme=light] .moly-theme-component-dark {
    color-scheme: dark;
    --bds-gray-t1-title: #fff;
    --bds-gray-t2: #adb1b8;
    --bds-gray-t3: #71757a;
    --bds-gray-t4-dis: #595d61;
    --bds-gray-t1-title-revert: #121214;
    --bds-brand-t1-title: #fff;
    --bds-gray-ele-border: #404347;
    --bds-gray-ele-line: #25282c;
    --bds-gray-ele-edge: #1e2023;
    --bds-gray-bg-page: #000;
    --bds-gray-bg-area: #101014;
    --bds-gray-bg-card: #16171a;
    --bds-gray-bg-float: #333537;
    --bds-trans-mask: rgb(1 3 5 / 80%);
    --bds-trans-hover: rgb(192 210 231 / 12%);
    --bds-brand-600-hover: #ffc35c;
    --bds-brand-700-normal: #ff9c2e !important;
    --bds-brand-800-pressed: #f0960e;
    --bds-brand-900-focus: #f0960e;
    --bds-brand-900-text: #ff9c2e !important;
    --bds-brand-100-bg: rgb(247 166 0 / 16%);
    --bds-red-100-bg: rgb(239 69 74 / 16%);
    --bds-green-100-bg: rgb(32 178 108 / 16%);
    --bds-gradient-reddish: linear-gradient(90deg, #f90 0%, #ff6a59 100%);
    --bds-gradient-brand: linear-gradient(90deg, #ffd748 0%, #f7a600 100%);
    --bds-gradient-ruby: linear-gradient(90deg, #fc7272 0%, #f03339 100%);
    --bds-gradient-tab-scroll-left: linear-gradient( 270deg, rgba(1, 1, 1, 0%) 0%, #010101 100% );
    --bds-gradient-tab-scroll-right: linear-gradient( 270deg, #010101 0%, rgba(1, 1, 1, 0%) 100% );
    --bds-shadow-l1: 0 0 4px 0 rgba(18, 18, 20, 10%);
    --bds-shadow-l2: 0 0 24px 0 rgba(18, 18, 20, 10%);
    --bds-focused-halo-brand: 0 0 0 5px var(--bds-brand-100-bg);
    --bds-focused-halo-green: 0 0 0 5px var(--bds-green-100-bg);
    --bds-focused-halo-red: 0 0 0 5px var(--bds-red-100-bg);
    --bds-underline-dashed: 1px dashed #595d61;
    --bds-tag-text-primary: var(--bds-brand-700-normal);
    --bds-tag-text-neutral: var(--bds-static-white);
    --bds-empty-svg-border: #71757a;
    --bds-empty-svg-line: #f7a600;
    --bds-empty-svg-opacity: .41;
    --bds-checkbox-type-checked: var(--bds-static-black);
    --bds-gray-ele-line-rgb: 32, 33, 36;
    --bds-black-white: #000;
    --bds-badge-type-secondary-text-color: #fff;
    --bds-badge-type-secondary-bg-color: rgba(192, 210, 231, 12%);
    --bds-badge-sup-type-secondary-text-color: #71757a;
    --bds-badge-sup-text-color: #f7a600
}

:root[data-site=jp],:root[data-site=jp][data-theme=dark] .moly-theme-component-light,:root[data-site=jp][data-theme=dark],:root[data-site=jp][data-theme=light] .moly-theme-component-dark {
    color-scheme: light;
    --bds-brand-600-hover: #ffd700;
    --bds-brand-700-normal: #ffe15a !important;
    --bds-brand-800-pressed: #ffc800;
    --bds-brand-900-text: #ffc800 !important;
    --bds-brand-900-focus: #ffc800;
    --bds-brand-100-bg: rgba(255, 225, 90, .08);
    --bds-gradient-brand: linear-gradient(90deg, #fff745 0%, #ffe15a 100%);
    --bds-badge-sup-text-color: var(--bds-brand-900-text)
}

:root[data-site=jp][data-theme=dark],:root[data-site=jp][data-theme=light] .moly-theme-component-dark {
    color-scheme: dark
}

:root[data-site=usa],:root[data-site=usa][data-theme=dark] .moly-theme-component-light {
    color-scheme: light;
    --bds-brand-700-normal: #000 !important;
    --bds-brand-600-hover: #81858c;
    --bds-brand-800-pressed: #adb1b8;
    --bds-brand-900-text: #273a92 !important;
    --bds-brand-900-focus: #000;
    --bds-brand-100-bg: rgba(0, 0, 0, .12);
    --bds-gradient-brand: linear-gradient(133deg, #71757a -1.87%, #fff 101.87%);
    --bds-badge-sup-text-color: var(--bds-brand-900-text);
    --bds-brand-black: #fff;
    --bds-brand-white: #fff;
    --bds-brand-t1-title: #fff
}

:root[data-site=usa][data-theme=dark],:root[data-site=usa][data-theme=light] .moly-theme-component-dark {
    color-scheme: dark;
    --bds-brand-700-normal: #fff !important;
    --bds-brand-600-hover: #adb1b8;
    --bds-brand-800-pressed: #71757a;
    --bds-brand-900-text: #c8e2ff !important;
    --bds-brand-900-focus: #fff;
    --bds-brand-100-bg: rgba(255, 255, 255, .16);
    --bds-gradient-brand: linear-gradient(133deg, #71757a -1.87%, #fff 101.87%);
    --bds-badge-sup-text-color: var(--bds-brand-900-text);
    --bds-brand-black: #000;
    --bds-brand-white: #000;
    --bds-brand-t1-title: #000
}
